.back {
  display: flex;
  align-items: center;
  color: #26cad0;
  font-weight: bold;
  text-decoration: none;
}

.title_span {
  color: #26cad0;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 5vw;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
}
svg {
  width: 30px;
  height: 30px;
}
.title_c {
  display: flex;
  align-items: center;
}

.title_c span {
  font-size: 1.7rem;
  font-weight: 700;
}

.react_,
.css_,
.html_,
.js_ {
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  width: 90vw;
  background-color: #12142c;
}

@media only screen and (min-width: 900px) {
  .react_,
  .css_,
  .html_,
  .js_ {
    width: 50vw;
    background-color: #1d2048;
  }
}
