.xp_main li {
  list-style: circle;
  margin: 0 8vw;
}

.title {
  color: var(--section-title);
}

.resalt {
  color: #26cad0;
}

.xp_main ul {
  margin-top: 10vw;
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 800px) {
  .xp_main {
  }
  .xp_main ul {
    margin: 2vw 0;
  }
  .xp_main li {
    margin: 0 3vw;
  }
}
