.goals_main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.title {
  font-weight: 900;
  color: #26cad0;
  font-size: 2rem;
}
ul li {
  list-style: circle;
}
ul li span {
  color: #26cad0;
  font-weight: 600;
}

.goals_ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media only screen and(min-width: 600px) {
  .title {
    text-align: left;
  }
  .goals_info_main_p {
    margin: 0;
  }
}
