.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.title {
  color: #26acd0;
  width: 350px;
  font-size: 2.3rem;
  font-weight: 800;
  margin-top: 5vw;
  text-align: center;
  font-family: monospace, "Bricolage Grotesque", sans-serif;
}

.main_img {
  width: 290px;
  margin: 20px;
  border-radius: 50%;
}

.main_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5vw;
  justify-content: center;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .main_container {
    flex-direction: row;
    margin: 0;
  }

  .title {
    font-size: 2.2rem;
  }
}
