/*
#0099ff

  background-color: #0099ff;
*/
.nav_btn {
  font-family: "Inter", sans-serif;
  border: none;
  background: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  margin: 0 10px;
  transition: background 300ms;
  cursor: pointer;
}
.hidden {
  display: none;
}
.nav_btn:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(6, 18, 189, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  outline: 1px solid rgba(255, 255, 255, 0.18);
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  margin: -10vh auto auto auto;
  backdrop-filter: blur(20px);
  z-index: 9999;
  gap: 20px;
}

a {
  color: #d1d5d0;
  text-decoration: none;
}

.eleazar {
  color: #26acd0;
}
.burger_main {
  backdrop-filter: blur(20px);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99999;
}
.burger_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.desktop_navbar_main {
  backdrop-filter: blur(20px);
  display: none;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  z-index: 999;
  transition: all 500ms;
  width: 99vw;
  height: 15vh;
  top: 0;
  margin: 0;
}

.desktop_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
}
.desktop_navbar h2 {
  margin: 10px 10px 10px 20px;
}
.scrolled {
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px -20px rgba(255, 255, 255, 0.37);
  height: 14vh;
}

.see_more {
  font-family: "Inter", sans-serif;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #0099ff;
  color: white;
  font-weight: bold;
  margin: 20px auto;
}
.nav_a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
@media (min-width: 680px) {
  .burger_main {
    display: none;
  }
  .desktop_navbar_main {
    display: flex;
  }
  .desktop_navbar {
    width: 70%;
  }
}
