.socials_main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.socials_main h2 {
  color: var(--section-title);
}

.socials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.socials_icon {
  width: 50px;
  margin: 5px;
}
.social_container {
  background: #181f4630;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  color: #d1d5dc;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 200ms;
}
.social_container:hover {
  box-shadow: 0 0 0 5px #3c49766c;
}

.email_div {
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 50px;
  text-align: center;
  padding: 10px 20px;
}
.email_span {
  opacity: 0.7;
  margin: auto;
}

.copy_btn {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  font-family: "Inter";
  font-weight: bold;
  color: white;
  cursor: pointer;
}

@media only screen and (min-width: 700px) {
  .email_div {
    margin-top: 3vh;
    width: 60%;
  }
  .copy_btn {
    margin: 0;
  }
  .email_span {
    margin: 0;
  }
}
