.socials_main h2 {
  color: var(--section-title);
}

.socials_main {
  margin: 5vw 0;
}
.socials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.socials_icon {
  width: 50px;
  margin: 5px;
}
.social_container {
  background: rgba(255, 255, 255, 0.1); /* Fondo translúcido */
  backdrop-filter: blur(10px); /* Efecto de desenfoque */
  -webkit-backdrop-filter: blur(10px); /* Compatibilidad para Safari */
  border-radius: 12px; /* Bordes redondeados */
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  color: #d1d5dc;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 200ms;
}
.social_container:hover {
  box-shadow: 0 0 0 5px #3c49766c;
}

.email_div {
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 70%;
  margin: auto;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 30px;
  text-align: center;
  gap: 10px;
}
.email_span {
  opacity: 0.7;
  margin: auto;
}

.copy_btn {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background-color: #0064d7;
  color: #d1d5dc;
  font-weight: bold;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  margin: auto;
}

@media only screen and (min-width: 600px) {
  .email_div {
    margin-top: 3vh;
    width: 60%;
  }
}
