.app {
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}

@media (min-width: 600px) {
  .app {
    width: 48rem;
    margin: auto;
  }
}
