* {
  scroll-behavior: smooth;
  outline: none !important;
}

:root {
  --background-color: #090f20;
  --text-color: #d1d5d0;

  --section-title: #26acd0;
  --title-font-weight: 700;
  /*----skills section*/
  --box-background: rgb(51, 62, 111);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (prefers-color-scheme: light) {
  :root {
    --background-color: rgb(229, 229, 229);
    --text-color: rgb(0, 0, 0);

    --desktop-background: rgb(181, 181, 181);
    --desktop-gradient: rgb(181, 181, 181);

    --section-title: #1b7a94;

    /*--skills section-------*/
    --box-background: rgb(81, 93, 144);
  }
}
body {
  margin: 0;
  color: #d1d5d0;
  line-height: 1.5;
  font-family: "Inter";
  font-size: smaller;
  background: linear-gradient(
    to bottom,
    rgba(0, 10, 31, 1),
    rgba(0, 29, 61, 1)
  );
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #181f47;
}
body::-webkit-scrollbar-thumb {
  background-color: #26cad0;
  border-radius: 20px;
}

@media only screen and (min-width: 600px) {
  body {
    transition: background 500ms;
    width: 48rem;
    margin: auto;
    z-index: -1;
    font-size: medium;
  }
}
