@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
body {
  @apply text-slate-900 dark:text-slate-100;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
ul {
  list-style-type: circle;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Code";
  src: url("./assets/fonts/google-sans-code.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
