* {
  scroll-behavior: smooth;
  outline: none !important;
}

body {
  font-family: "Bricolage Grotesque", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #181f47;
  color: #d1d5db;
  font-size: 1.2rem;
  line-height: 1.5;
  transition: background 500ms;
}

hr {
  margin: 5vw 0;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #181f47;
}
body::-webkit-scrollbar-thumb {
  background-color: #26cad0;
  border-radius: 20px;
}

@media only screen and (min-width: 600px) {
  body {
    background: #142047;
    background: radial-gradient(at center top, #142047, #010101) 0px;
    transition: background 500ms;
    width: 48rem;
    margin: auto;
    position: static;
    z-index: -1;
  }
}
