@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
body {
  @apply text-slate-900 dark:text-slate-100;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
ul {
  list-style-type: circle;
}
